# ignore files that maybe temp files
*~

# ignore files in following directories
PowerStigTemp/
xccdf/

# ignore temporary VM deploy test scripts
testDeployVm.ps1
testDeployVm2.ps1
deploy.ps1
scripts/MOFcreation/WindowsServerMOFcreation.zip
scripts/setPowerStigLinux.sh